body, li{
    margin: 0;
}
.submenu{
    display: none;
    position: absolute;
    background: #6a823d
}
.submenu li{
    display: block;
    padding: 5px;
}
li:hover > .submenu{
    display: block;
}
nav{
    background: #6a823d;
    padding: 2rem;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding:0;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline;
}
nav ul li a{
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
}
h1{
    text-align: center;
}
.abouttext-pgone{
    position: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.aboutimg-pgone{
    width: 90%;
    height: 200px;
    background-color: red;
    position: relative;
    left: 50px;
    top: 50px;
}